{{outlet}}
  {{#each model as |loca|}}
  <button {{action "getId" loca.id}}> {{loca.name}}</button>
  <!--  {{#link-to 'location'  loca.id }}-->
      <div class='location'>
        {{loca.name}}<br>
      </div>
    {{/link-to}}
  {{/each}}
