{{outlet}}


    {{#each model as |words|}}
    <div>


        <div id="englishFlashcard">
          {{words.english}}
        </div>


        <form{{action "hideWord"}}>

        <div id="portugueseFlashcard">
          {{words.portuguese}}
        </div>


        </form>
    </div>

      {{/each}}
