{{outlet}}


    {{#each model as |words|}}
      <div class="englishFlashcard">
        {{words.english}}

      </div>
      <div class="portugueseFlashcard">
        {{words.portuguese}}

      </div>

      {{/each}}
