{{outlet}}


    {{#each model as |words|}}
    <div>


        <div class="englishFlashcard">
          {{words.english}}
        </div>


      <div class="portugueseFlashcard">
        {{words.portuguese}}
      </div>
    </div>

      {{/each}}
